{%extends 'oes/base.html'%}

{%block content%}
<div class="container">
<div class="exams">
 <div class="container-fluid">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
          <div class="d-sm-flex">
          <h1 class="h3 mb-0 mr-3 text-gray-800">Companies</h1> 
          </div>
          <a href="/companies/addCompany" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-plus fa-sm text-white"></i> New Company</a>
          </div>

         
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Companies List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                 
                      <th>Company</th>
                      <th> Contact Staff Name</th>
                      <th> Contact Number</th>
                      <th></th>
                      <th></th>   
                    </tr>
                  </thead>
                  
                  <tbody>
                  {%for company in companies%}
                    <tr>
                      <td>{{company.company_name}}</td>
                      <td>{{company.staff_name}}</td>
                      <td>{{company.staff_number}}</td>
                      <td><button class="btn btn-sm btn-info shadow-sm">View Details</button></td>
                      <td><p><button class="btn btn-sm btn-warning shadow-sm">edit</button> <button class="btn btn-sm btn-danger shadow-sm">delete</button> </p></td>
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
</div>
</div>

{% endblock %}