{% extends 'oes/base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="container">
<div class="exams">
 <div class="container-fluid ">
        <div class="text-center">
        <h5 class="h3 mb-0 m-4 text-gray-800">Question</h5> 
        </div>
          
          
 <div class="m-auto create-exam-container" >
          <form action="createQuestion" method="POST" class="create_exam" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group select-exam">
          <div class="mb-3 select-exam-control">
            {{form}}
            </div>
            </div>
            <div class="d-flex justify-content-center">
          <input class="btn btn-primary mt-4" style='width:20em' type="submit" value="Next">
          </div
            
          </form>
          
          
          </div>
          </div
        
</div>
</div>
</div>



{% endblock %}
