{%extends 'oes/base.html'%}

{%block content%}
<div class="container">
<div class="exams">
 <div class="container-fluid">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
          <div class="d-sm-flex">
          <h1 class="h3 mb-0 mr-3 text-gray-800">Registration </h1> 
          </div>
          <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-plus fa-sm text-white"></i> New Testee</a>
          </div>

         
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Results List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                       <th>ID</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      
                      <th>Email</th>
                      <th>Phone Number</th>
                      <th>Company</th>
                      <th></th>
                       <th></th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    <tr>
                      <td>Quinn Flynn</td>
                      <td>Support Lead</td>
                      <td>Edinburgh</td>
                      <td>22</td>
                      <td>2013/03/03</td>
                      <td>2013/03/03</td>
                      <td><p><button class="btn btn-sm btn-info shadow-sm">View</button> <button class="btn btn-sm btn-success shadow-sm">Assign</button> </p></td>
                      <td><p><button class="btn btn-sm btn-warning shadow-sm">edit</button> <button class="btn btn-sm btn-danger shadow-sm">delete</button> </p></td>
                    </tr>
                     <tr>
                      <td>Quinn Flynn</td>
                      <td>Support Lead</td>
                      <td>Edinburgh</td>
                      <td>22</td>
                      <td>2013/03/03</td>
                      <td>2013/03/03</td>
                      <td><p><button class="btn btn-sm btn-info shadow-sm">View</button> <button class="btn btn-sm btn-success shadow-sm">Assign</button> </p></td>
                      <td><p><button class="btn btn-sm btn-warning shadow-sm">edit</button> <button class="btn btn-sm btn-danger shadow-sm">delete</button> </p></td>
                    </tr>
                   
                    <tr>
                      <td>Quinn Flynn</td>
                      <td>Support Lead</td>
                      <td>Edinburgh</td>
                      <td>22</td>
                      <td>2013/03/03</td>
                      <td>2013/03/03</td>
                      <td><p><button class="btn btn-sm btn-info shadow-sm">View</button> <button class="btn btn-sm btn-success shadow-sm">Assign</button> </p></td>
                      <td><p><button class="btn btn-sm btn-warning shadow-sm">edit</button> <button class="btn btn-sm btn-danger shadow-sm">delete</button> </p></td>
                    </tr>
                   
                    <tr>
                      <td>Quinn Flynn</td>
                      <td>Support Lead</td>
                      <td>Edinburgh</td>
                      <td>22</td>
                      <td>2013/03/03</td>
                      <td>2013/03/03</td>
                      <td><p><button class="btn btn-sm btn-info shadow-sm">View</button> <button class="btn btn-sm btn-success shadow-sm">Assign</button> </p></td>
                      <td><p><button class="btn btn-sm btn-warning shadow-sm">edit</button> <button class="btn btn-sm btn-danger shadow-sm">delete</button> </p></td>
                    </tr>
                   
                    <tr>
                      <td>Quinn Flynn</td>
                      <td>Support Lead</td>
                      <td>Edinburgh</td>
                      <td>22</td>
                      <td>2013/03/03</td>
                      <td>2013/03/03</td>
                      <td><p><button class="btn btn-sm btn-info shadow-sm">View</button> <button class="btn btn-sm btn-success shadow-sm">Assign</button> </p></td>
                      <td><p><button class="btn btn-sm btn-warning shadow-sm">edit</button> <button class="btn btn-sm btn-danger shadow-sm">delete</button> </p></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
</div>
</div>

{% endblock %}