{%extends 'oes/base.html'%}

{%block content%}
<div class="container">
<div class="exams">
 <div class="container-fluid">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
          <div class="d-sm-flex">
          <h1 class="h3 mb-0 mr-3 text-gray-800">Registration </h1> 
          </div>
          <a href="/registration/addTestee" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-plus fa-sm text-white"></i> New Testee</a>
          </div>

         
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Results List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      
                      <th>First Name</th>
                      <th>Last Name</th>
                     
                      <th>ID Number</th>
                      <th>Email</th>
                      <th>Company</th>
                      <th></th>
                       <th></th>
                    </tr>
                  </thead>
                  
                  <tbody>
                  {%for testee in testees%}
                    <tr>
                      <td>{{testee.first_name}}</td>
                      <td>{{testee.last_name}}</td>
                      <td>{{testee.id_number}}</td>
                      <td>{{testee.email}} </td>
                      <td>{{testee.company}}</td>
                      <td><button class="btn btn-sm btn-success shadow-sm">Assign</button> </p></td>
                      <td><p><button class="btn btn-sm btn-warning shadow-sm">Edit</button> <button class="btn btn-sm btn-danger shadow-sm">Delete</button> </p></td>
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>
              <ul>
                
                    </ul>
            </div>
          </div>
        </div>
</div>
</div>

{% endblock %}